body {
  font: 14px "Century Gothic", Futura, sans-serif;
  overflow: hidden;
  background: #222222;
  color: white;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

ol,
ul {
  padding-left: 30px;
}

li>button {
  font-family: 'Courier New', Courier, monospace;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  color: white;
  background: #222222;
  border: 1px solid #999;
  float: left;
  font-size: 20vh;
  font-weight: bold;
  line-height: 34px;
  height: 20vh;
  width: 20vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square-highlight {
  background: #247e24;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
  font-size: 1.2rem;
  width: 17rem;
}