.signin-container {
  display: flex;
  flex-direction: column;
  width: min(20em, 80vw);
  font: 'Montserrat Alternates', sans-serif;
  text-align: center;
  justify-content: center;
  align-content: center;
  border: none;
  padding: 1em;
  background: #e0e0e0;
  border-radius: 30px;
  box-shadow: 20px 20px 41px #cacaca, -20px -20px 41px #f6f6f6;
}

.signin-input {
  outline: none;
  border: none;
  font: 1.3rem 'Montserrat Alternates', sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: .5rem;
  margin: 1rem;
  width: calc(100% - 2rem);
  background: #e0e0e0;
  border-radius: 18px;
  box-shadow: inset 5px 5px 12px #bebebe, inset -5px -5px 12px #ffffff;
}

.signin-button {
  border: none;
  outline: none;
  font: 1rem 'Montserrat Alternates', sans-serif;
  color: black;
  box-sizing: border-box;
  padding: .5rem;
  margin: 1rem;
  width: calc(100% - 2rem);
  background: #e0e0e0;
  border-radius: 18px;
  box-shadow: 8px 8px 15px #cacaca, -8px -8px 15px #f6f6f6;
}

#alert-custom-override {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 8px 8px 15px #cacaca, -8px -8px 15px #f6f6f6;
}

[role='button'] {
  margin: .5em !important;
}