body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #E0E0E0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

.search {
  display: flex;
  width: 80vw;
  max-width: 25em;
  height: fit-content;
  margin-top: 45vh;
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}